.img-slide{
    height: 35rem;
    width: 80%;
    background-position: center;
    background-size: cover;
}
.imageCarousel{
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
    background-color: var(--main-bg);
    color: var(--text-color);
}
.imageCarousel > div{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80vh;
}
.textOverlay {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 2rem;
    padding: 0 2rem;
}
.img-text{
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: 1s;
}
.buttonOverlay{
    display: flex;
    justify-content: space-between;
    position: absolute;
    gap: 65vw;
}
.carousel-button{
    background-color: rgba(247, 246, 245, 0.6);
    backdrop-filter: blur(10px);
    border: none;
    height: 2.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    color: var(--text-color);
}
.carousel-button:hover{
    background-color: rgba(247, 246, 245, 0.3);
}
.fa-arrow-right, .fa-arrow-left{
    font-size: 1.3rem;
}
@media (max-width:1200px) {
    .img-slide{
        width: 90%;
        height: 45vw;
    }
    .textOverlay{
        top: 8rem;
    }
    .imageCarousel{
        justify-content: center;
        align-items: initial;
        margin-top: 10rem;
        height: 40%;
    }
    .imageCarousel > .buttonOverlay{
        align-items: initial;
    }
    .img-text{
        margin-top: 83vw;
    }
    .carousel-button{
        display: none;
    }
    .buttonOverlay{
        gap: 0;
    }
}
@media (max-width:600px) {
    .carousel-button{
        height: 1.5rem;
        width: 1.8rem;
        display: none;
    }
    .img-text{
        font-size: 1rem;
    }
}
/*featured*/
.product-home{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--main-bg);
    color: var(--text-color);
}
.parent{
    height: 80vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
.parent > div{
    border-radius: 0.5rem;
}
.div1 {
     grid-area: 1 / 1 / 5 / 3; 
     background-color: #2596be;
}
.div2 {
     grid-area: 1 / 3 / 5 / 5; 
     background-color: #e28743;
}
.div3 {
     grid-area: 1 / 5 / 3 / 8; 
     background-color: #063970;
}
.div4 {
     grid-area: 3 / 5 / 5 / 8; 
     background-color: #ccd5ae;
}
.div5 {
     grid-area: 5 / 1 / 8 / 4;
     background-color: #154c79;
}
.div6 {
     grid-area: 5 / 4 / 8 / 8; 
     background-color: #ddd92a;
}
.home-product-img{
    height: 5rem;
    width: 7rem;
}
.home-btn{
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
    background-color: #673de6;
    color: #fff;
    transition: 0.5s;
    border-radius: 0.3rem;
}
.home-btn:hover{
    transform: scale(1.1);
}
.parent > div> div >p{
    font-size: 1.2rem;
}
@media screen and (max-width: 1000px) {
    .parent {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .div1,
    .div2 {
      grid-area: auto;
    }
    .div3,
    .div4 {
      grid-area: auto;
    }
    .div5,.div6 {
      grid-area: auto; 
    }
  }
  @media screen and (max-width: 600px) {
    .parent {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
/*footer*/
.footer{
    height: 45vh;
    width: 100%;
    background-color: var(--main-bg);
    color: var(--text-color);
}
.footer-title{
    border-bottom: 3px solid #673de6;
}
p{
    cursor: pointer;
}
.footer-email{
    border: 1px solid var(--text-color);
    outline: none;
    height: 2.5rem;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    padding-left: 0.5rem;
    color: var(--text-color);
    margin-top: 0.1rem;
    background-color: var(--main-bg);
}
.footer-email::placeholder{
    color: var(--text-color);
}
.footer-btn{
    border: 1px solid var(--text-color);
    height: 2.5rem;
    width: 2.5rem;
    background-color: #673de6;
    color: var(--text-color);
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
@media (max-width:800px) {
    .footer-first{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .footer-second{
        gap: 0.5rem;
    }
}
@media (max-width:600px) {
    .footer-first{
        grid-template-columns: repeat(1,1fr);
    }
}
/*dark-mode*/
.dark-mode{
    position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    cursor: pointer;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    padding: 0.5rem;
}
@media (max-width:1200px) {
    .dark-mode{
        margin-top: 2rem;
    }
}
.fa-sun, .fa-moon{
    font-size: 1.3rem;
    color: var(--text-color);
}
/*aboutus*/
.about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg);
    padding-top: 5rem;
}
.about-paragraph{
    max-width: 80rem;
}
.about-h{
    color: var(--signature-color);
    font-size: 3rem;
}