.product{
    height: 100vh;
    width: 100%;
    background-color:rgba(247, 246 ,255, 0.5);
    backdrop-filter: blur(10px);
    color: #000;
    margin-top: 4rem;
}
.admin-laptop{
    width: 100%;
}
.admin-laptop > tr >td{
    text-align: center;
}
.fa-pen-to-square{
    margin-right: 1rem;
}
@media (max-width: 1200px) {
    .product{
        margin-top: 8rem;
    }

}
.add-laptop >div{
    width: 90%;
}
.add-btn-add, .cancel-btn{
    height: 2rem;
    width: 5rem;
    color: #fff;
}
.add-section{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-option{
    border: 1px solid #000;
    border-radius: 0.3rem;
}
.add-laptop{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 50%;
    height: auto;
    background-color: #eeeeee;
    padding: 1rem;
    place-items: center;
    gap: 1rem;
    top: 4rem;
    position: fixed;
}
@media (max-width:1000px) {
    .add-laptop{
        grid-template-columns: repeat(1,1fr);
        position: fixed;
    }
}
table > tr > th, table > tr > td{
    border: 1px solid #ddd;
}
th{
    background-color: #d4d4d4;
    height: 3rem;
}
tr:nth-child(even){
    background-color: #ededed;
    height: 2.5rem;
}
tr:nth-child(odd){
    background-color: #dfe1e7;
    height: 2.5rem;
}
@media (max-width:1200px) {
    table > tr > th{
        display: none;
    }
    table > tr > td{
        display: block;
        width: 100%;
        text-align: left !important;
        padding-left: 35%;
        position: relative;
    }
    table > tr> td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1rem;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: left;
    }
}