.product{
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg);
    backdrop-filter: blur(10px);
    color: var(--text-color);
    padding-top: 4rem;
}
.admin-laptop{
    width: 100%;
}
.admin-laptop > tr >td{
    text-align: center;
}
.fa-pen-to-square{
    margin-right: 1rem;
}
@media (max-width: 1200px) {
    .product{
        margin-top: 8rem;
    }

}
.add-laptop >div, .edit-laptop > div{
    width: 90%;
}
.add-btn-add, .cancel-btn, .edit-save, .edit-cancel{
    height: 2rem;
    width: 5rem;
    color: var(--text-color);
}
.add-section{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-option{
    border: 1px solid var(--text-color);
    border-radius: 0.3rem;
    background-color: var(--admin-color);
    outline: none;
}
.add-laptop, .edit-laptop{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 50%;
    height: auto;
    background-color: var(--admin-color);
    padding: 1rem;
    place-items: center;
    gap: 1rem;
    top: 4rem;
    position: fixed;
}
.edit-laptop{
    top: 4rem;
    left: 30%;
}
@media (max-width:1000px) {
    .add-laptop, .edit-laptop{
        grid-template-columns: repeat(1,1fr);
        position: fixed;
    }
}
table > tr > th, table > tr > td{
    border: 1px solid var(--text-color);
}
th{
    background-color: var(--admin-color);
    height: 3rem;
}
tr:nth-child(even){
    background-color: var(--admin-color);
    height: 2.5rem;
}
tr:nth-child(odd){
    background-color: var(--admin-color);
    height: 2.5rem;
}
@media (max-width:1200px) {
    table > tr > th{
        display: none;
    }
    table > tr > td{
        display: block;
        width: 100%;
        text-align: left !important;
        padding-left: 35%;
        position: relative;
    }
    table > tr> td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1rem;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: left;
    }
}
/*edit-user*/
.edit-user{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}
.profile-edit{
    background-color: var(--admin-color);
    height: 19rem;
    width: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.profile-edit >div{
    display: flex;
    flex-direction: column;
}

.profile-edit >div> .edit-input {
    height: 2rem;
    outline: none;
    border: 1px solid var(--text-color);
    padding-left: 0.5rem;
    color: #000;
}
.user-edit-save{
    height: 2rem;
    width: 8rem;
    background-color: green;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
/*order*/
