nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--navbar-bg);
    color: var(--text-color);
    backdrop-filter: blur(10px);
    height: 4rem;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    list-style: none;
    padding-top: 0.9rem;
    gap: 2rem;
}
.logo-toggle-btn{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.search-section, .login-signup{
    display: flex;
}
.logo-techmart{
    font-size: 1.3rem;
    font-weight: bold;
}
.logo-toggle-btn span{
    color: #673de6;
    font-size: 2rem;
}
.dropdown-item > ul{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: auto;
    padding:1rem;
    background-color: var(--item-bg);
}
.fa-search{
    border: 1px solid var(--text-color);
    height: 2.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
#search{
    border: 1px solid var(--text-color);
    height: 2.5rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    width: 30rem;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
    background: transparent;
    color: var(--text-color);
}
#search::placeholder{
    color: var(--text-color);
}
.search-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 4rem;
}
.srch, .login-signup{
    display: flex;
    padding-top: 0.4rem;
}
.login-signup{
    padding-top: 1.1rem;
    gap: 2rem;
}
.fa-user, .fa-cart-shopping{
    font-size: 1.3rem;
    cursor: pointer;
}
.fa-caret-down{
    padding-left: 0.2rem;
}
@media (max-width:1200px) {
    nav{
        flex-direction: column;
        height: 7rem;
    }
    .logo-toggle-btn,.search-section{
        justify-content: space-between;
        width: 100%;
    }
    #search{
        width: 80vw;
    }
    .login-signup{
        right: 0;
    }
}
#mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    display: none;
}
@media (max-width:860px) {
    .logo-toggle-btn > ul{
        position: fixed;
        top: 0;
        right: -905px;
        width: 100%;
        height: 100vh;
        background-color: #673de6;
        display: grid !important;
    }
    .dropdown-item{
        margin-left: 0.5rem;
    }
    .nav-item-desktop, .nav-item > div> div > p{
        font-size: 1.3rem;
        margin-left: 1rem;
        color: #fff;
    }
    .dropdown-item > ul{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        place-items: center;
    }
    #navbar.active{
        right: -100px;
    } 
    .logo-toggle-btn ul.active {
        display: block;
    }
    #mobile{
        display: block;
        right: 10px;
        position: absolute;
        padding-top: 0.8rem;
    }
    #mobile i{
        font-size: 1.4rem;
        cursor: pointer;
    }
    #search{
        width: 60vw;
    }
    .fa-times{
        color:#fff;
    }
}
@media (max-width:465px) {
    .search-section{
        gap: 0.5rem;
    }
    .login-signup{
        gap:1rem;
    }
}
.sidebar{
    height: 100vh;
    width:12rem;
    position: fixed;
    right: 0;
    top: 4rem;
    background-color: rgba(103, 150, 232, 0.9);
    z-index: 100;
    padding: 2rem 0 0 2rem;
    backdrop-filter: blur(10px);
}
.logout, .manage-item{
    background-color: #673de6;
    color: #fff;
    height: 2rem;
    width: 8rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.proceed{
    background-color: var(--signature-color);
    color: #fff;
    height: 2.5rem;
    width: 8rem;
    transition: 0.3s;
    font-size: 1rem;
}
.item-remove{
    border: 1px solid var(--text-color);
    height: 2rem;
    width: 7rem;
}
.cart{
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg);
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.added-cart-image{
    height: 6rem;
    width: 10rem;
}
.added-cart-item, .cart-ship{
    width: 70vw;
    background-color: var(--item-bg);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: auto;
    color: var(--text-color);
}
.added-item-remove{
    padding-bottom: 1rem;
}
.searched-result{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    padding-top: 4rem;
}
.search-div > .searched-result > ul{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.search-div > .searched-result > ul >p{
    text-align: center;
}
.search-div > .searched-result > ul >li{
    background-color: var(--item-bg);
   width: 40rem;
   display: grid;
   place-items: center;
   padding: 1rem;
   color: var(--text-color);
}

.search-div > .searched-result > ul >li> h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}
.no-result{
    background-color: var(--item-bg);
    padding: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
}
.cart-content{
    margin-bottom: 1rem;
}
@media (max-width:1200px) {
    .cart{
        margin-top: 7rem;
    }
    .added-cart-image{
        height: 4rem;
        width: 8rem;
        object-fit: cover;
    }
    .cart-content{
        display: grid;
        text-align: center;
        place-items: center;
    }
    .added-cart-item > .cart-content> .img-cont{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:600px) {
    .cart-ship{
        flex-direction: column;
        gap: 1rem;
    }
}
@media (max-width: 700px) {
    .search-div > .searched-result > ul >li{
        width: 80vw;
    }
}
.user-in{
    position: absolute;
    top: 2.6rem;
    right: 3.4rem;
}